<div id='what_div'>
   <h1>Approaching Prospective Clients</h1>

   <p>Making first contact with a prospective client can be difficult and nerve-wracking. Here are a few points to keep in mind:</p>

   <h3>Do:</h3>
   <ul>
      <li>Be friendly!</li>
      <li>Get to the point – “I saw you all recently got a building permit for plumbing”</li>
      <li>Give your work history - “I’ve done some plumbing.”</li>
      <li>Sell your strengths - “I’m a very hard worker.”</li>
      <li>Give them your info – “Here’s my cell number”</li>
   </ul>

   <h3>Don't:</h3>
   <ul>
      <li>Be nervous – “I just wanted to” “I thought that maybe”</li>
      <li>Lie about skills or experience</li>
      <li>Forget to leave your information!</li>
   </ul>

   <h2>Don't Know What to Say?</h2>
   <p>If you don't have a rehearsed script to say, you can use this. Fit it to your own situation.</p>

   <p>Hi, my name is _______. What do you all need help with? I can do _____, _________, and _______. Here’s my contact information. I can start work on _________.</p>
</div>




<!-- Do:

Get to the point – “I saw you all recently got a building permit for plumbing”
Give your work history - “I’ve done some plumbing.”
Sell your strengths - “I’m a very hard worker.”
Give them your info – “Here’s my cell number”

Don’t:
Be nervous – “I just wanted to” “I thought that maybe”
Lie about skills or experience 
Forget to leave your information!

Here’s a script!
Hi, my name is _______. What do you all need help with? I can do _____, _________, and _______. Here’s my contact information. I can start work on _________. -->